
html, body, #root, #light {
  margin: 0px 0px;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

html, body, #root, #dark{
  margin: 0px 0px;
  width: 100vw;
  height: 100vh;
  background-color: #441462;
}

#light #toggle-switch-label {
  color: black;
  position: absolute;
  top: 4rem;
  left: 4rem;
}

#dark #toggle-switch-label {
  color: white;
  position: absolute;
  top: 4rem;
  left: 4rem;
}

#light #wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 2rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem lightgray;
}

#dark #wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 2rem;
  background-color: #591185;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #9e63ba;
}

#light #switch-button {
  display: block;
  margin: 1rem auto;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  background-color: #8526BF;
  color: white;
  border-radius: 2rem;
}

#light #switch-button:hover {
  background-color: #4c0876;
  cursor: pointer;
}

#dark #switch-button {
  display: block;
  margin: 1rem auto;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  background-color: white;
  color: #8526BF;
  border-radius: 2rem;
}

#dark #switch-button:hover {
  background-color: rgb(185, 181, 181);
  cursor: pointer;
}

#light .temperature-input {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 0.5rem 2rem;  
}

#dark .temperature-input {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 0.5rem 2rem;  
  color: white;
}

#light .inputs {
  height: 2rem;
  width: 12rem;
}

#dark .inputs {
  height: 2rem;
  width: 12rem;
}

#light #output {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem auto;
  padding: 0.5rem 2rem;  
}

#dark #output {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem 2rem;  
  margin: 0.5rem auto;
  color: white;
}

#light #convert-button {
  display: block;
  margin: 1rem auto;
  font-size: 2rem;
  padding: 0.5rem 2rem;  
  background-color: #8526BF;
  color: white;
  border-radius: 2rem;
}

#light #convert-button:hover {
  background-color: #4c0876;
  cursor: pointer;
}


#dark #convert-button {
  display: block;
  margin: 1rem auto;
  font-size: 2rem;
  padding: 0.5rem 2rem;  
  background-color: white;
  color: #8526BF;
  border-radius: 2rem;
}

#dark #convert-button:hover {
  background-color: rgb(185, 181, 181);
  cursor: pointer;
}


/* #converter-form { */
    /* border: solid red; */
    /* position: absolute; */
    /* width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  /* } */


